---
import baseData from '../data/baseData.js'
import Separator from './Separator.astro'
import WrapperTextures from './WrapperTextures.astro'
const currentYear = new Date().getFullYear()
---

<footer>
	<WrapperTextures pattern='Grunge' blend='screen' opacity={0.5}>
		<div class='content'>
			<p class='large-header'>{baseData.name}</p>
			<nav class='footer-content'>
				<a
					href={baseData.miniGamesURL}
					target='_blank'
					rel='noopener noreferrer'
					aria-label={baseData.miniGamesAriaLabel}
					class='footer-link'
					>MYOL minigames <span class='arrow'>&#8599;</span>
				</a>
				<a
					href={baseData.portfolioURL}
					target='_blank'
					rel='noopener noreferrer'
					aria-label={baseData.portfoliAriaLabel}
					class='footer-link'
					>Made with &#128151; by Sam Almohanna <span class='arrow'
						>&#8599;</span
					></a
				>
				<p class='copyright'>
					Copyright &copy; {currentYear} - All rights reserved
				</p>
			</nav>
		</div>
		<Separator direction='column' color='var(--color-yellow-600)' />
	</WrapperTextures>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		background-color: var(--color-yellow-600);
	}
	nav {
		display: flex;
		flex-direction: column;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-l);
		padding-block: var(--spacing-s);
	}
	.large-header {
		font-size: clamp(32px, 16cqw, 276px);
		font-family: ClimateCrisis, sans-serif;
		text-decoration: underline;
		text-align: center;
		text-transform: uppercase;
		line-height: 100%;
		letter-spacing: var(--letter-spacing-s);
		color: var(--color-black-500);
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-inline: var(--spacing-xs);
	}
	.footer-link {
		font-size: var(--text-step--1);
		text-decoration: none;
		color: var(--color-black-500);
		padding-block: var(--spacing-2xs);
	}
	.footer-link:hover {
		text-decoration: underline;
		text-underline-position: under;
	}
	.arrow {
		font-size: var(--text-step-0);
	}
	.copyright {
		font-size: var(--text-step--1);
		color: var(--color-black-500);
		padding-block: var(--spacing-2xs);
	}

	@media (min-width: 768px) {
		nav {
			flex-direction: row;
			gap: var(--spacing-s);
		}
		.content {
			gap: var(--spacing-3xl);
		}
		.footer-content {
			flex-direction: row;
			gap: 0;
		}
		.footer-link,
		.copyright {
			font-size: var(--text-step--2);
		}
	}
</style>
