---
import { getCollection } from 'astro:content'
import Icon from './Icon.astro'

const quizzes = await getCollection('quizzes')
---

<section id='quizGrid' class='content'>
	<div class='header'>
		<span class='icon'>
			<Icon name='arrow-2' scale={0.8} />
		</span>
		<h2>pick a quiz below</h2>
		<span class='icon'>
			<Icon name='arrow-2' scale={0.8} />
		</span>
	</div>
	<div class='quiz-grid'>
		{
			quizzes.map((quiz) => (
				<a class='quiz-card' href={`/quiz/${quiz.slug}`}>
					<div
						class='cover'
						style={`background-image: url('${quiz.data.cover}'); background-size: cover;`}
					>
						<Icon name='heart-1' scale={2} />
					</div>
					<div class='quiz-meta'>
						<span class={`difficulty-` + quiz.data.difficulty}>
							{quiz.data.difficulty}
						</span>
						<span class='category'>{quiz.data.category}</span>
						{/* <span class='question-count'>
						{quiz.data.questions.length} questions
						</span> */}
					</div>
					<div>
						<h3>{quiz.data.title}</h3>
						<p>{quiz.data.description}</p>
					</div>
				</a>
			))
		}
	</div>
</section>

<style>
	.content {
		margin-block: var(--spacing-3xl);
	}
	.icon {
		background-color: var(--color-yellow-500);
		display: block;
		border-radius: 50%;
	}
	.quiz-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: var(--spacing-m);
		padding-block: var(--spacing-xl);
	}
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-xl);
		padding-block: var(--spacing-l);
		font-family: ClimateCrisis;
		font-size: var(--text-step-0);
		letter-spacing: var(--letter-spacing-m);
		color: var(--color-black-500);
		background-color: var(--color-blue-300);
	}

	a {
		text-decoration: none;
		color: inherit;
		transition:
			transform 0.2s,
			box-shadow 0.2s;
	}
	a:hover {
		transform: translateY(-1px);
		box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
	}

	.cover {
		padding-block: var(--spacing-s);
	}
	.quiz-card {
		padding: var(--spacing-s);
		display: grid;
		gap: var(--spacing-2xs);
		background-color: var(--color-cream-100);
	}

	.quiz-meta {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-3xs);
		margin-top: var(--spacing-s);
	}

	.quiz-meta span {
		padding-inline: var(--spacing-2xs);
		font-size: var(--text-step--2);
		line-height: 1.5;
		color: var(--color-black-400);
		background: var(--color-yellow-200);
	}

	.quiz-meta .difficulty-easy {
		background: rgb(138, 233, 138);
	}
	.quiz-meta .difficulty-challenging {
		background: var(--color-orange-300);
	}
	.quiz-meta .difficulty-advanced {
		background: var(--color-red-300);
	}
	@media (min-width: 500px) {
		.header {
			font-size: var(--text-step-1);
		}
	}

	@media (min-width: 1000px) {
		.header {
			flex-direction: row;
			align-items: center;
			gap: var(--spacing-s);
			font-size: var(--text-step-3);
		}
	}
</style>
