---
import { getCollection } from 'astro:content'
import Icon from './Icon.astro'

const quizzes = await getCollection('quizzes')
---

<div class='content quiz-grid'>
	{
		quizzes.map((quiz) => (
			<a class='quiz-card' href={`/quiz/${quiz.slug}`}>
				<div
					class='cover'
					style={`background-image: url('${quiz.data.cover}'); background-size: cover;`}
				>
					<Icon name='heart-1' />
					{/* <div class='quiz-meta'>
						<span class={`difficulty-` + quiz.data.difficulty}>
							{quiz.data.difficulty}
						</span>
						<span class='category'>{quiz.data.category}</span>
						<span class='question-count'>
							{quiz.data.questions.length} questions
						</span>
					</div> */}
				</div>
				<h3>{quiz.data.title}</h3>
				<p>{quiz.data.description}</p>
			</a>
		))
	}
</div>

<style>
	.quiz-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: var(--spacing-m);
		padding-block: var(--spacing-3xl);
		padding-inline: var(--spacing-s);
		margin-block: var(--spacing-3xl);
		background-color: var(--color-cream-200);
	}

	a {
		text-decoration: none;
		color: inherit;
		transition:
			transform 0.2s,
			box-shadow 0.2s;
	}
	a:hover {
		transform: translateY(-1px);
		box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
	}

	.cover {
		padding-block: var(--spacing-s);
	}
	.quiz-card {
		padding: var(--spacing-s);
		display: grid;
		gap: var(--spacing-2xs);
		background-color: var(--color-cream-100);
	}

	.quiz-meta {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-3xs);
		margin-top: var(--spacing-s);
	}

	.quiz-meta span {
		padding-inline: var(--spacing-2xs);
		font-size: var(--text-step--2);
		line-height: 1.5;
		color: var(--color-black-400);
		background: var(--color-yellow-200);
	}

	.quiz-meta .difficulty-easy {
		background: var(--color-yellow-200);
	}
	.quiz-meta .difficulty-challenging {
		background: var(--color-orange-200);
	}
	.quiz-meta .difficulty-advanced {
		background: var(--color-blue-200);
	}
</style>
