---
type Props = {
	class?: string
	pattern?: 'grid' | 'checkers' | 'dots'
	bg?: string
	fg?: string
	scale?: number
	gap?: number
	opacity?: number
}

const {
	class: className = '',
	pattern = 'grid',
	bg = '#fff',
	fg = '#ddd',
	scale = 2,
	gap = 32,
	opacity = 1,
} = Astro.props as Props

const patterns = {
	grid: `
    background-color: ${bg};
    background-image:
      linear-gradient(to right, ${fg} ${scale}px, transparent ${scale}px),
      linear-gradient(to bottom, ${fg} ${scale}px, transparent ${scale}px);
    background-size: ${gap}px ${gap}px;
  `,
	checkers: `
    background-color: ${bg};
    background-image:
      linear-gradient(45deg, ${fg} 25%, transparent 25%),
      linear-gradient(-45deg, ${fg} 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, ${fg} 75%),
      linear-gradient(-45deg, transparent 75%, ${fg} 75%);
    background-size: ${gap * 2}px ${gap * 2}px;
    background-position: 0 0, 0 ${gap}px, ${gap}px -${gap}px, -${gap}px 0px;
    opacity: ${opacity}
  `,
	dots: `
  background-color: ${bg};
  background-image: radial-gradient(
    color-mix(in srgb, ${fg} ${opacity * 100}%, transparent),
    transparent ${scale}px
  );
  background-size: ${gap}px ${gap}px;
  opacity: 1;
`,
}
const style = patterns[pattern] || patterns.grid
---

<div class={className} style={style}>
	<slot />
</div>
